@import "root.css";
@import "aem-grid-12.css";
@import "font-awesome/css/font-awesome.css";


body {
	font-family: $sooth-font-family-proxima-nova;
	background: $alabasterr 0% 0% no-repeat padding-box;
	color: $oxford-blue;
	font-size: 14px;
}
.offer-banner {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: $cape-palliser 0% 0% no-repeat padding-box;
	opacity: 1;
	color: $beige;
	letter-spacing: 0px;
	text-align: center;
	line-height: 38px;
}
header {
	padding: 0 50px 30px 50px;
	ul {
		text-align: center;
		li {
			display: inline-block;
			padding: 0 20px;
			font-weight: 500;
		}
	}
	nav {
		padding: 50px 20px 10px;
		font-weight: bold;
	}
	.logo {
		font-size: 28px;
		font-weight: 500;
		line-height: 2;
		letter-spacing: 1.6px;
		padding: 0px 25%;
		text-align: center;
	}
}
.header-banner {
	background-image: url('../assets/banner.png');
	background-position: 40% 0%;
	background-repeat: no-repeat;
	background-size: auto, auto;
	position: relative;
}
.hero-banner {
	display: flex;
	padding: 0px 140px 60px 140px;
	.tag {
		background: $alabasterr;
		margin: 0;
		padding: 10px;
		color: $oxford-blue ;
		border: none;
		font-size: 12px;
		cursor: pointer;
	}
	.hero-banner-text {
		justify-content: center;
		padding: 110px 105px 0 0;
	}
	.hero-banner-image {
		background-image: url('../assets/plant.png'), url('../assets/plant-1.png');
		background-position: -182px 25px, 200px 10px;
		width: 80%;
		background-repeat: no-repeat;
		flex-direction: column;
		flex: 2;
	}
}
.hero-banner-image {
	img {
		position: relative;
	}
}
.secondary-banner {
	padding: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid $como;
}
.product-teaser {
	margin: 60px 130px 120px;
	.teaser-title {
		float: right;
	}
}
.sooth-button {
	border: 1px solid $oxford-blue;
	background: $athens-gray;
	padding: 6px 30px;
	margin: 20px 0;
}
.container {
	display: flex;
}
.card {
	margin-right: 20px;
	height: 400px;
	width: 250px;
	.card-header {
		position: relative;
		img {
			background-color: $white;
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 8px;
	}
}
.card-body {
	.sooth-button {
		align-items: center;
		&:hover {
			background: $white;
		}
	}
	h6 {
		margin-top: 10px;
	}
	p {
		font-size: 12px;
	}
}
.aem-GridColumn--default--1 {
	margin-bottom: 30px;
}
.image-tiles {
	text-align: center;
	margin: 0px 160px 100px;
	.card-header {
		img {
			background-color: transparent;
			width: 100%;
		}
	}
	.card-body {
		text-align: center;
	}
	.card {
		margin: 0 10px;
	}
}
.feature-banner {
	padding: 40px 230px;
	text-align: center;
	background-color: $athens-gray;
	.card-body {
		line-height: 2;
	}
	.fa {
		color: $silver-rust;
	}
	p {
		text-decoration: underline;
		padding-top: 10px;
	}
}
.new-tag {
	position: relative;
	left: 14px;
	top: 46px;
	background: $alabasterr;
	margin: 0;
	padding: 10px;
	color: $oxford-blue;
	border: none;
	font-size: 12px;
	cursor: pointer;
}
.offer {
	color: $cape-palliser;
}
.offer-color {
	color: $cape-palliser;
}
.text-strike {
	text-decoration: line-through;
	color: $rangitoto;
}
.teaser {
	display: flex;
	img {
		width: 100%;
	}
	.sooth-button {
		background-color: transparent;
		border-color: $white;
		color: $white;
	}
}
.teaser-left {
	background: $como 0% 0% no-repeat padding-box;
}
.teaser-text {
	justify-content: initial;
	margin: 160px 130px 140px;
	color: $white;
	p {
		padding: 20px 0px;
	}
}
.teaser2 {
	.teaser-left {
		background: #C6B9B6;
	}
	.teaser-text {
		margin: 160px 94px;
	}
}
.news-letter {
	padding: 20px 100px;
	background-color: $background-color_4;
	border: 1px solid $oxford-blue;
	h3 {
		text-align: start;
		border-right: 1px groove rgb(198, 185, 182, 0.3);
	}
	p {
		padding: 10px 0 0 22px;
	}
	.sooth-button {
		background-color: $background-color_5;
		border: 1px solid #956A53;
		color: $white;
	}
}
.sooth-pl-30px {
	padding-left: 30px;
}
.pb-30px {
	padding-bottom: 30px;
}
.sooth-input {
	padding: 6px 30px;
	margin-right: -5px;
	border: 1px solid #956A53;
}
.subscribe {
	text-align: end;
}
footer {
	background-color: $oxford-blue;
	color: $white;
}
.footer-section {
	display: flex;
	padding: 120px 100px 80px;
}
.footer-right {
	flex-direction: column;
	flex: 2;
	ul {
		list-style: none;
		line-height: 2;
	}
	h6 {
		padding-bottom: 10px;
	}
}
@mixin sooth-btn {
        background: transparent;
        border: 1px solid $white;
        color: $white;     
}
.footer-left {
	flex: 2;
	line-height: 3;
	.sooth-button {
                @include sooth-btn;
	}
       
	.sooth-input {
                @include sooth-btn;
	}
}
.copyright-section {
	display: flex;
	margin: 10px 100px;
	padding: 50px 0px;
	line-height: 2;
	border-top: 0.5px solid $white;
	li {
		display: inline;
		padding-right: 90px;
		text-decoration: underline;
	}
	.fa {
		float: right;
		padding: 10px 0 0 25px;
		color: $white;
	}
}
